fastapi==0.115.5
uvicorn[standard]==0.32.1
pydantic==2.10.3
pydantic[email]==2.10.3
email-validator==2.2.0
ultralytics>=8.3.0
opencv-python-headless==4.10.0.84
Pillow==11.0.0
numpy==1.26.4
python-multipart==0.0.18
pytz==2024.2
apscheduler==3.11.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.10